<footer>
  <nav class="social">
    <a href="http://www.soundcloud.com/malleable808" title="Soundcloud">
      <img src="{{ 'assets/soundcloud.png' | relative_url }}" alt="Soundcloud" width="15" height="15" />
    </a>
    <a href="https://gitlab.com/malleable808/sequencer" title="GitLab">
      <img src="{{ 'assets/gitlab.png' | relative_url }}" alt="GitLab" width="15" height="15" />
    </a>
    <a href="https://github.com/ModularDevicesMalleableAudio" title="GitHub">
      <img src="{{ 'assets/github.png' | relative_url }}" alt="GitHub" width="15" height="15" />
    </a>
  </nav>
</footer>
